.paginationButton {
  display: inline-block;
  list-style-type: none;
  color: var(--primary-gray);
  margin: 2px;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.paginationButton:hover {
  border-bottom: 1px solid var(--primary-gray);
}

#paginationLeftArrow {
  transform: rotate(180deg);
}

#activePaginationButton {
  background-color: var(--secondary-color);
  pointer-events: none;
}

.excessPage {
  pointer-events: none;
}

#pagination {
  grid-column: 1/7;
  padding: 0;
  display: flex;
  justify-content: center;
}

.arrowButton:hover {
  background-color: var(--secondary-color);
  border: none;
}

@media (min-width: 768px) {
  #pagination {
    grid-column: 3/7;
  }
}

@media (min-width: 1280px) {
  #pagination {
    grid-column: 5/9;
  }
}
