#overlayWrapper {
  background-color: var(--filter-overlay-color);
  color: #ffffff;
  z-index: 10;
  position: fixed;
  width: 280px;
  min-height: 100vh;
  height: 100%;
  transition: transform 300ms ease-in;
  right: 0;
}

.closeFiltersButton {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  margin: 20px;
}

#dropDownFIltersWrapper {
  margin-top: 124px;
  margin-left: 20px;
  margin-right: 20px;
}

.overlayHidden {
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

#manageFiltersButtons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  margin-bottom: 89px;
  width: 100%;
}

.manageFiltersButton {
  color: var(--primary-gray);
  background: none;
  border: none;
  border-bottom: 2px solid var(--primary-gray);
  cursor: pointer;
  padding: 0;
  font-family: "Inter";
}

.clearFiltersButton {
  color: var(--clear-button-color);
  border-bottom: 2px solid var(--clear-button-color);
  margin-right: 50px;
}

@media (min-width: 768px) {
  #overlayWrapper {
    width: 372px;
  }
}

@media (min-width: 1280px) {
  #overlayWrapper {
    width: 492px;
  }
}
