$primary-black: #121212;
$primary-white: #ffffff;
#overlayWrapper {
  background-color: $primary-black;
  color: #ffffff;
  z-index: 10;
  position: fixed;
  width: calc(100% - 40px);
  min-height: 100vh;
  height: 100%;
  border: 1px solid white;
  transition: transform 300ms ease-in;
  right: 0;
}

.closeFiltersButton {
  background: none;
  padding: 0;
  border: none;
}

#dropDownFIltersWrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.overlayHidden {
  background-color: red;
  transform: translateX(20rem);
  transition: transform 300ms ease-out;
}
