header {
  background-color: var(--primary-color);
  overflow: hidden;
  margin-top: 20px;
  grid-column: 1/7;
}

#logo {
  float: left;
  text-decoration: none;
}

#lightIcon {
  float: right;
  background-color: var(--secondary-color);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%
}

@media (min-width: 768px) {
  header {
    grid-column: 1/9;
  }
}

@media (min-width: 1280px) {
  header {
    grid-column: 1/13;
  }
}