.productCard {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardInfoWrapper {
  position: absolute;
  bottom: 0;
}

.imageInfo {
  font-family: "Cormorant SC";
  height: 45px;
  width: 236px;
  background-color: #121212;
  color: #dedede;
}

.arrowButton {
  background-color: #ab8956;
  width: 24px;
  height: 45px;
  padding: 0;
  border: 0;
}

.imageCard {
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  display: block;
}

.imageWrapper {
  aspect-ratio: 1;
}
