body {
  margin: 0;
}

main {
  grid-column: 1/7;
}

#cardsWrapper {
  list-style-type: none;
  gap: 10px;
  padding: 0;
}

#galleryWrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1440px;
  background-color: #121212;
}

#searchBar {
  grid-column: 1/6;
  background-color: #1a1818;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

#searchBar > input {
  font-family: "Inter";
  border: none;
  background-color: #1a1818;
  color: #dedede;
  margin: auto;
}

#searchIcon {
  width: 16px;
  height: 16px;
  margin: auto;
}

#smallCloseIcon {
  width: 12px;
  height: 12px;
  margin: auto;
}

#filterButton {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: none;
  grid-column: 6;
  background-color: #1a1818;
  justify-self: right;
}
