.dropDown {
  display: flex;
  justify-content: space-between;
}

.filtersSelector {
  overflow: auto;
}

.closeFiltersButton {
  background: none;
  padding: 0;
  border: none;
}

.filterName {
  color: var(--text-color);
}

.optionSelector {
  background-color: var(--secondary-color);
  color: var(--primary-gray);
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionSelector input {
  background-color: var(--secondary-color);
  color: var(--primary-gray);
  border: none;
  height: 36px;
  width: 100%;
}

.optionSelector input::placeholder {
  color: var(--placeholder-color);
}

.expandIcon {
  transform: rotate(180deg);
}

.dropDownOptions {
  color: var(--primary-gray);
  list-style-type: none;
  padding: 0;
  max-height: 180px;
  overflow: auto;
  cursor: pointer;
}

.dropDownOptions::-webkit-scrollbar {
  width: 4px;
}

.dropDownOptions::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.dropDownOptions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--filter-scrollbar);
  height: 100px;
}

.dropDownOption {
  background-color: var(--secondary-color);
  width: 100%;
  height: 36px;
  justify-content: center;
}

.dropDownOption:hover {
  background-color: #cdcdcd0d;
}
