.dropDown {
  display: flex;
  justify-content: space-between;
}

.filtersSelector {
  overflow: auto;
}

.closeFiltersButton {
  background: none;
  padding: 0;
  border: none;
}

.filterName {
  color: var(--text-color);
}

.optionSelector {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  height: 36px;
}

.optionSelector::placeholder {
  color: var(--primary-gray);
}

.dropDownOptions {
  color: var(--primary-gray);
  list-style-type: none;
  padding: 0;
  max-height: 180px;
  overflow: auto;
}

.dropDownOption {
  background-color: var(--secondary-color);
  width: 100%;
  height: 36px;
  justify-content: center;
  // border: 1px solid white
}

.dropDownOption:hover {
  background-color: #cdcdcd0d;
}
