.productCard {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardInfoWrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 92%;
  height: 16%;
  // max-width: 324px;
  background-color: var(--primary-color);
  justify-content: space-between;
}

.imageInfo {
  font-family: "Cormorant SC";
  width: 100%;

  color: var(--primary-gray);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.arrowButton {
  background-color: var(--accent-gold);
  width: 24px;
  padding: 0;
  border: 0;
}

.imageCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  display: block;
}

.imageWrapper {
  aspect-ratio: 1;
}

.infoText {
  // background-color: salmon;
}
