:root {
  --primary-black: #121212;
  --primary-white: #ffffff;
  --primary-dark-gray: #575757;
  --primary-light-gray: #dedede;
  --secondary-black: #1a1818;
  --secondary-white: #fcfcfc;
  --secondary-gray: #9c9c9c;
  --accent-red: #9b4b4b;
  --accent-gold: #ab8956;

  --primary-color: var(--primary-black);
  --primary-gray: var(--primary-light-gray);
  --secondary-color: var(--secondary-black);
  --accent-color: var(--accent-gold);
  --active-pagination-button: var(--secondary-black);
  --text-color: var(--primary-white);
  --filter-overlay-color: var(--primary-black);
  --placeholder-color: var(--primary-dark-gray);
  --clear-button-color: var(--primary-dark-gray);
  --filter-scrollbar: var(--primary-light-gray);
  --input-border: var(--secondary-black);
}

[data-theme="light"] {
  --primary-color: var(--primary-white);
  --primary-gray: var(--primary-dark-gray);
  --secondary-color: var(--secondary-white);
  --accent-color: var(--accent-red);
  --active-pagination-button: var(--primary-light-gray);
  --text-color: var(--primary-black);
  --filter-overlay-color: var(--secondary-white);
  --placeholder-color: var(--secondary-gray);
  --clear-button-color: var(--secondary-gray);
  --filter-scrollbar: var(--secondary-gray);
  --input-border: var(--primary-light-gray);
}
